In [3]:
import numpy as np
import pandas as pd

In [4]:
# import wine dataset
wine = pd.read_csv("wine.csv")

In [8]:
# here are some key sortings (SO EASY)
wine.sort_values("pH", ascending = False) 
wine.sort_values(["sulphates", "alcohol"], ascending = [True, False])

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
4843,6.7,0.210,0.36,8.55,0.020,20.0,86.0,0.99146,3.19,0.22,13.4,7,white
4883,8.0,0.340,0.25,6.40,0.035,38.0,103.0,0.99148,2.91,0.23,12.2,6,white
2725,6.5,0.115,0.29,1.95,0.038,73.0,166.0,0.98900,3.12,0.25,12.9,7,white
2882,8.0,0.450,0.36,8.80,0.026,50.0,151.0,0.99270,3.07,0.25,12.7,8,white
5127,6.9,0.750,0.13,6.30,0.036,19.0,50.0,0.99312,3.09,0.25,11.1,4,white
...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,7.1,0.310,0.30,2.20,0.053,36.0,127.0,0.99650,2.94,1.62,9.5,5,red
86,8.6,0.490,0.28,1.90,0.110,20.0,136.0,0.99720,2.93,1.95,9.9,6,red
91,8.6,0.490,0.28,1.90,0.110,20.0,136.0,0.99720,2.93,1.95,9.9,6,red
92,8.6,0.490,0.29,2.00,0.110,19.0,133.0,0.99720,2.93,1.98,9.8,5,red
151,9.2,0.520,1.00,3.40,0.610,32.0,69.0,0.99960,2.74,2.00,9.4,4,red

In [10]:
# easy to grab a column...
wine["volatile acidity"]

# but if you want to grab multiple column, you need two pairs 
wine[["residual sugar", "pH"]]

      residual sugar    pH
0                1.9  3.51
1                2.6  3.20
2                2.3  3.26
3                1.9  3.16
4                1.9  3.51
...              ...   ...
6492             1.6  3.27
6493             8.0  3.15
6494             1.2  2.99
6495             1.1  3.34
6496             0.8  3.26

[6497 rows x 2 columns]

In [14]:
# subset by multiple conditions
wine[["pH","sulphates","type"]][(wine["pH"] < 5) & (wine["type"] == "red")]
# wow... just wow

        pH  sulphates type
0     3.51       0.56  red
1     3.20       0.68  red
2     3.26       0.65  red
3     3.16       0.58  red
4     3.51       0.56  red
...    ...        ...  ...
1594  3.45       0.58  red
1595  3.52       0.76  red
1596  3.42       0.75  red
1597  3.57       0.71  red
1598  3.39       0.66  red

[1599 rows x 3 columns]

In [8]:
## Now let's get into summary statistics
# easy ones include
print(wine['pH'].mean())
print(wine['sulphates'].max())
print(wine['quality'].std())

3.2185008465445644
2.0
0.873255271531111

In [11]:
# something a bit more complex
def pct90(column) :
    return column.quantile(0.9)


wine['pH'].agg(pct90)
wine[['sulphates', 'pH']].agg(pct90) # showing 90th percentile for these columns

sulphates    0.72
pH           3.42
dtype: float64

In [12]:
# cumulative summation
cum_sum_pH = wine['pH'].cumsum()
print(cum_sum_pH)

0           3.51
1           6.71
2           9.97
3          13.13
4          16.64
          ...
6492    20897.86
6493    20901.01
6494    20904.00
6495    20907.34
6496    20910.60
Name: pH, Length: 6497, dtype: float64

In [13]:
# okay but what about categorical data? 
# if I want to get rid of duplicates within a column
wine.drop_duplicates(subset='type')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1599,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white

In [15]:
# but what if there is a pair you want? 
wine.drop_duplicates(subset = ['type', 'pH'])

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,red
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,red
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,red
6,7.9,0.600,0.06,1.6,0.069,15.0,59.0,0.99640,3.30,0.46,9.4,5,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4624,5.4,0.220,0.29,1.2,0.045,69.0,152.0,0.99178,3.76,0.63,11.0,7,white
5313,8.5,0.180,0.30,1.1,0.028,34.0,95.0,0.99272,2.83,0.36,10.0,4,white
5708,5.0,0.255,0.22,2.7,0.043,46.0,153.0,0.99238,3.75,0.76,11.3,6,white
5949,7.0,0.360,0.25,5.7,0.015,14.0,73.0,0.98963,2.82,0.59,13.2,6,white
6343,5.0,0.240,0.19,5.0,0.043,17.0,101.0,0.99438,3.67,0.57,10.0,5,white

In [19]:
# what if I want to know the amount of categorical values in a column? 
print(wine['type'].value_counts())

# and if I want to sort by the most to least value counts
print(wine['type'].value_counts(sort = True))

# and if I want to see the proportion of these values
print(wine['type'].value_counts(normalize=True))

# and finally, I can put multiple things together
print(wine['type'].value_counts(sort = True, normalize=True))

white    4898
red      1599
Name: type, dtype: int64
white    4898
red      1599
Name: type, dtype: int64
white    0.753886
red      0.246114
Name: type, dtype: float64
white    0.753886
red      0.246114
Name: type, dtype: float64

In [24]:
## Group statistics are really important stuff
# if I want to know if the pH of red vs white wine I can do 

red_ph_mean = wine[wine['type'] == 'red']['pH'].mean()
white_ph_mean = wine[wine['type'] == 'white']['pH'].mean()

print(red_ph_mean)
print(white_ph_mean)

3.311113195747343
3.1882666394446693

In [31]:
# BUT instead of LISTING all the types to figure it out, we can use .groupby()
print(wine.groupby('type')['pH'].mean())

# and we can do multiple commands in one line too
print(wine.groupby('type')['pH'].agg([np.mean, np.median, min, max, sum]))

# what is even cooler is we can group by multiple values
print(wine.groupby('type')[['pH', 'sulphates', 'chlorides', 'alcohol']].mean())

type
red      3.311113
white    3.188267
Name: pH, dtype: float64
           mean  median   min   max       sum
type
red    3.311113    3.31  2.74  4.01   5294.47
white  3.188267    3.18  2.72  3.82  15616.13
             pH  sulphates  chlorides    alcohol
type
red    3.311113   0.658149   0.087467  10.422983
white  3.188267   0.489847   0.045772  10.514267

In [33]:
## Let's create some pivot tables
# we can use a pivot table to create summary statistics in a concise fashion
# the default function is mean
print(wine.pivot_table(values='pH', index = 'type'))

# we can also add different agg functions
print(wine.pivot_table(values='pH', index = 'type', aggfunc = [np.mean, np.median, sum, min, max]))

             pH
type
red    3.311113
white  3.188267
           mean median       sum   min   max
             pH     pH        pH    pH    pH
type
red    3.311113   3.31   5294.47  2.74  4.01
white  3.188267   3.18  15616.13  2.72  3.82

In [36]:
# what about something funky
print(wine.pivot_table(values='pH', index = 'alcohol', columns='type', fill_value=0, margins=True))

type          red     white       All
alcohol
8.0      0.000000  3.380000  3.380000
8.4      3.010000  3.126667  3.080000
8.5      3.150000  3.178889  3.176000
8.6      0.000000  3.114783  3.114783
8.7      3.330000  3.078718  3.085000
...           ...       ...       ...
14.0     3.615714  3.304000  3.485833
14.05    0.000000  3.260000  3.260000
14.2     0.000000  3.120000  3.120000
14.9     2.980000  0.000000  2.980000
All      3.311113  3.188267  3.218501

[112 rows x 3 columns]